<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hastalıklar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-**********" crossorigin="anonymous" />

</head>

<body>
  <%- include("partials/_header.ejs") %>
    <div class="container mt-5">
      <h1 class="mb-4">Hastalıklar</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img src="sick-woman-sitting-bed-blowing-nose-with-napkin.jpg" class="card-img-top" alt="Grip">
            <div class="card-body">
              <h5 class="card-title">Grip</h5>
              <p class="card-text">Grip, influenza virüsleri tarafından neden olan bulaşıcı bir solunum yolu
                enfeksiyonudur. Genellikle kış aylarında ortaya çıkar ve ateş, öksürük, boğaz ağrısı, burun akıntısı,
                kas
                ağrıları, baş ağrısı, yorgunluk ve bazen kusma ve ishal gibi semptomlarla kendini gösterir. Grip, erken
                teşhis için semptomlar hissedildiğinde veya potansiyel maruziyet olduğunda doktora başvurmayı
                gerektirir.
                PCR veya antijen testleri gibi testlerle tanı konabilir ve semptomlar hafif olduğunda bile tedaviye
                başlanabilir.</p>
              <p class="card-text"><strong>Tedavi:</strong> Gripte genellikle semptomatik tedavi uygulanır, bu tedavi
                ateş
                ve ağrıyı azaltıcı ilaçlar, bol sıvı alımı ve dinlenmeyi içerir. Bazı durumlarda, antiviral ilaçlar
                semptomların süresini ve şiddetini azaltabilir. Özellikle yüksek risk grupları için grip aşısı önerilir,
                çünkü aşı, hastalığın şiddetini azaltabilir ve komplikasyon riskini önemli ölçüde düşürebilir.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img src="corona-virusu-nedir-nasil-bulasir_20200124152509.jpg" class="card-img-top" alt="Migren">
            <div class="card-body">
              <h5 class="card-title">COVID-19</h5>
              <p class="card-text"> Coronavirüs Hastalığı 2019'un kısaltmasıdır. SARS-CoV-2 adı verilen bir
                koronavirüs tarafından neden olan bulaşıcı bir hastalıktır. COVID-19'un belirtileri genellikle hafif ila
                orta şiddette başlar ve solunum yolu enfeksiyonlarına benzer. En yaygın semptomlar arasında ateş,
                öksürük,
                nefes darlığı, kas ağrıları, yorgunluk, baş ağrısı ve tat veya koku kaybı bulunur. Bununla birlikte,
                bazı
                insanlar belirti göstermeden virüsü taşıyabilir veya semptomlar başlamadan önce bulaştırıcı olabilirler.
                Erken teşhis için semptomlar hissedildiğinde veya potansiyel maruziyet olduğunda COVID-19 testi
                yaptırmak
                önemlidir. Bu, enfekte kişilerin izolasyonunu sağlar, hastalığın yayılmasını kontrol altına alır ve
                sağlık
                hizmetlerinin etkin bir şekilde yönetilmesine yardımcı olur.</p>
              <p class="card-text"><strong>Tedavi:</strong> MCOVID-19'un tedavisi için çeşitli yaklaşımlar kullanılır,
                bunlar arasında semptomatik tedavi, solunum desteği, antiviral ilaçlar ve immün modülatörler bulunur.
                Hastalığın ciddiyetine bağlı olarak hastalar hastanede izlenir ve tedavi edilir. Ayrıca, aşılar
                hastalığın
                yayılmasını önlemek ve ciddiyetini azaltmak için yaygın bir şekilde kullanılmaktadır.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <img src="woman-with-headache-studio.jpg" class="card-img-top" alt="Migren">
            <div class="card-body">
              <h5 class="card-title">Migren</h5>
              <p class="card-text">Migren, tekrarlayan baş ağrılarıyla karakterize edilen bir nörolojik hastalıktır.
                Genellikle şiddetli bir baş ağrısı, bulantı, kusma, ışığa ve sese aşırı hassasiyet gibi semptomlarla
                birlikte gelir. Migrenin belirtileri genellikle ağrı başlamadan önce veya başladıktan kısa bir süre
                sonra
                ortaya çıkar. Erken teşhis için semptomlar hissedildiğinde veya migren atağı bekleniyorsa doktora
                başvurmak önemlidir. Tedavi, ilaçlarla semptomları hafifletmeyi, tetikleyici faktörlerden kaçınmayı ve
                migren atağını önlemeyi içerir.</p>
              <p class="card-text"><strong>Tedavi:</strong> Migren tedavisi genellikle ağrıyı hafifletmeyi amaçlar ve bu
                amaçla ağrı kesiciler, antiemetikler ve triptanlar gibi ilaçlar kullanılır. Ayrıca, migren atağını
                tetikleyebilecek faktörlerin belirlenmesi ve bunlardan kaçınılması da önemlidir. Kronik migren
                durumlarında, önleyici ilaçlar ve yaşam tarzı değişiklikleri, atağın sıklığını ve şiddetini azaltmaya
                yardımcı olabilir.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="card">
            <img src="seker-hastaligi.jpg" class="card-img-top" alt="Migren">
            <div class="card-body">
              <h5 class="card-title">Diyabet</h5>
              <p class="card-text">Diyabet, vücuttaki kan şekeri seviyelerinin yüksek olduğu bir metabolik hastalıktır.
                Tip 1 diyabet, pankreasta insülin üretiminin azalması veya durması sonucu ortaya çıkar, Tip 2 diyabet
                ise
                vücudun insülini etkili bir şekilde kullanamaması durumunda gelişir. Diyabetin belirtileri arasında
                aşırı
                susama, sık idrara çıkma, açlık hissi, ani kilo kaybı, yorgunluk, bulanık görme ve yavaş iyileşen
                yaralar
                bulunur. Erken teşhis için kan şekeri seviyelerinin düzenli olarak kontrol edilmesi önemlidir, çünkü
                erken
                tanı ve tedavi diyabetin komplikasyonlarını önleyebilir veya geciktirebilir.</p>
              <p class="card-text"><strong>Tedavi:</strong> Diyabet tedavisi, kan şekeri seviyelerini kontrol altında
                tutmayı hedefler. Tip 1 diyabet hastaları genellikle insülin enjeksiyonlarıyla tedavi edilirken, Tip 2
                diyabet hastalarında diyet, egzersiz ve bazen ilaçlar kullanılır. Tedavinin amacı, kan şekeri
                seviyelerini
                normal aralıkta tutarak diyabetle ilişkili komplikasyonları önlemektir.</p>
            </div>
          </div>
        </div>
        <!-- Diğer hastalıklar buraya eklenebilir -->
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- footer -->
    <footer>
      <%- include("partials/_footer.ejs") %>
    </footer>

    <style>
      footer {
        color: #ffffff;
      }

      ul {
        padding: 0px;
      }

      ol,
      ul {
        margin-bottom: 0px;
      }

      .social-icon {
        padding: 0;
        margin-bottom: 0px;
        float: right;
      }

      .social-icon li {
        list-style: none;
        display: inline-block;
      }

      .social-icon li i {
        font-size: 14px;
        color: #262725;
        border: solid 2px #ffffff;
        height: 31px;
        width: 31px;
        text-align: center;
        vertical-align: middle;
        border-radius: 100px;
        line-height: 27px;
        margin-right: 15px;
        transition: 1s;
        background: #fff;
      }

      .social-icon li i:hover {
        border: solid 2px #272525;
        color: #ffffff;
        background: #262725;
      }

      .phone-no i {
        position: relative;
        margin-right: 14px;
        font-size: 43px;
        top: 5px;
      }

      .phone-no {
        margin-top: -22px;
        text-align: right;
      }

      .footer-day-time {
        padding-bottom: 30px;
        border-bottom: 2px solid #7a6f6f;
        padding-top: 14px;
        margin-bottom: 55px;
      }

      .footer-day-time ul li {
        display: inline;
        margin-right: 20px;
      }

      .footer-day-time ul li:last-child {
        margin-right: 0px;
      }

      .phone-no a {
        color: #fff;
        font-family: PlayfairDisplay-Black;
        font-size: 34px;
        font-weight: bold;
      }

      .footer-top {
        background: #292828;

        padding: 30px 0;
        /* Örneğin, yukarıdaki 50px 0 50px olan padding değerlerini 30px 0 olarak azaltabilirsiniz */

      }

      .footer-top h4 {
        font-size: 19px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      .footer-top p {
        font-size: 13px;
        line-height: 2;
      }

      footer p {
        margin-bottom: 0;
      }

      .footer-logo {
        display: block;
        margin-bottom: 32px;
      }

      .address1 li {
        list-style: none;
        position: relative;
        padding: 0px 0 14px 34px;
        line-height: 26px;
      }

      ul.address1 span {
        position: absolute;
        width: 40px;
        max-width: 40px;
        left: 0;
      }

      .address1 li a {
        color: #fff;
        text-decoration: none;
      }

      ul.address1 i {
        width: 20px;
        position: absolute;
        left: 0px;
        text-align: center;
        font-size: 28px;
        top: 0;
      }

      ul.address1 i.fa-envelope {
        font-size: 18px;
        top: 4px;
      }

      footer ul.social-icon {
        float: left;
      }

      footer .social-icon li i:hover {
        background: #000000;
        border-color: #000000;
      }

      .footer-bottom {
        background: #000000;
        padding: 5px 0;
      }

      .footer-bottom ul li {
        display: inline;
        margin-right: 20px;
        font-size: 18px;
      }

      .footer-bottom ul li a {
        color: #fff;
      }

      .footer-bottom ul {
        float: right;
      }

      .footer-bottom ul li:last-child {
        margin-right: 0;
      }

      .copyright {
        font-size: 18px;
      }

      .footer-day-time ul li,
      .address1 li {
        margin-right: 10px;
        /* İçerik öğeleri arasındaki margin değerlerini azaltabilirsiniz */
      }
    </style>
</body>

</html>