/* styles.css */

/* Navbar */
.navbar {
  margin-bottom: 20px;
}

/* Başlık */
h1 {
  color: #333;
}

/* İçerik kutusu */
.container {
  text-align: center;
}

/* styles.css */

/* Slider */
.carousel {
  margin-top: 20px;
}

