<div class="footer-top">
  <div class="container">
    <div class="footer-day-time">
      <div class="row">
        <div class="col-md-8">
          <ul>
            <li>Çalışma Saatlerimiz: Salı - Pazar: 08:00 - 18:00 </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="phone-no">

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h4>Hakkımızda</h4>
        <p>
          Sağlığınızı ön planda tutan, bilgiye erişimi kolaylaştıran ve güvenilir kaynaklarla donatılmış bir web
          sitesi olarak, Hastalıklar Doktorla size sağlık konularında rehberlik etmeyi amaçlıyor. Her yaş, cinsiyet
          ve yaşam tarzı için geniş kapsamlı bilgiler sunarak hastalıkların önlenmesi, semptomların tanınması ve
          tedavi seçeneklerinin anlaşılması konularında destek oluyoruz.
        </p>
      </div>

      <div class="col-md-4">
        <p>
        <h4>İLETİŞİM</h4>
        </p>
        <ul class="address1">
          <li>
            <i class="fa fa-map-marker"></i>Mevlana Mahallesi Batuhan Sokak Talas/Kayseri
          </li>
          <li>
            <i class="fa fa-envelope"></i><a href="mailto:#">info@hastalıklardunyasi.com</a>
          </li>
          <li>
            <i class="fa fa-mobile"></i>
            <a href="tel:12 34 56 78 90">0352 999 99 99 </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h4>Sosyal Medya</h4>
        <ul class="social-icon">
          <li>
            <a href="#"><i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/enesiskkk?igsh=azJyYmNtNGxuMnY= "><i class="fab fa-instagram"
                aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <p class="copyright text-uppercase">Copyright © Enes Işık | 2024</p>
      </div>
    </div>
  </div>
</div>
  